<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
</head>
<body>
    <h2>User {{user.id}}</h2>

    <a href="/">Home</a>

    <p>Full Name {{user.first_name}} {{user.last_name}}</p>
    <p>Email: {{user.email}}</p>

    <p>Created ON: {{user.created_at.strftime("%b %d %Y")}}</p>
    <p>Last Updated: {{  user.updated_at.strftime("%b %d %Y")}}</p>

    <a href="/users/{{user.id}}/edit">Edit</a>
    <a href="/users/{{user.id}}/destroy">Delete</a>
</body>
</html>