@{
    ViewData["Title"] = "Home Page";
}
@model List<Dish>;


<div class="text-center">
    <p>Check out some recent dishes.</p>

    <div class="container mt-4">
        <table class="table">
            @foreach (var x in Model)
            {
                <tr>
                    <a href="dishes/@x.DishId">@x.Name</a>
                    <p>@x.Chef</p>
                </tr>
            }
        </table>
    </div>
</div>