@{
    ViewData["Title"] = "Show a Dish";
}
@model Dish;


<h1>@Model?.Name</h1>



<div class="container mt-4">
    <table class="table">
        <tr>
            <th>@Model?.Name by @Model?.Chef</th>
        </tr>
        <tr>
            <th>@Model?.Description</th>
        </tr>
        <tr>
            <th>@Model?.Calories</th>
        </tr>
        <tr>
            <th>@Model?.Tastiness</th>
        </tr>
    </table>
</div>

<form action="@Model.DishId/destroy" method="post">
    <input type="submit" value="Delete" class="btn btn-danger">
</form>

<form action="@Model.DishId/edit" method="post">
    <input type="submit" value="Edit" class="btn btn-warning">
</form>
