@model User
<div class="text-center">
    <div class="flex-1 m-3">
        <h2>Register</h2>
        <form asp-action="CreateUser" asp-controller="Home" method="post">
            <div class="mb-3">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" class="form-control">
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" class="form-control">
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Confirm"></label>
                <input asp-for="Confirm" class="form-control">
                <span asp-validation-for="Confirm" class="text-danger"></span>
            </div>
            <input type="submit" class="btn btn-primary">
        </form>
    </div>
</div>