@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center d-flex justify-content-around">
    <div>
        @await Html.PartialAsync("_Register")
    </div>
    <div>
        @await Html.PartialAsync("_Login")
    </div>
</div>