*{
    margin: 0;
    padding: 0;
    background-color: black;
}

body{
    display: flex;
    border: 5px solid red;
    height: 1000px;
    justify-content: center;
    align-items: center;
}

.twoflag{
    display: flex;
    height: 800px;
    width: 1200px;
    justify-content: space-between;
}

#flag{

}

.top{
    display: flex;
    height: 100px;
    width: 300px;
    background-color: rgb(0, 60, 170);
}

.bottom{
    display: flex;
    height: 100px;
    width: 300px;
    background-color: rgba(255, 238, 0, 0.946);
}



#flag2{
    display: flex;

}

.left{
    display: flex;
    height: 150px;
    width: 50px;
    background-color: blue;
}

.middle{
    display: flex;
    height: 150px;
    width: 50px;
    background-color: white;
}

.right{
    display: flex;
    height: 150px;
    width: 50px;
    background-color: red;
}