@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Big Maths</h1>
    <form action="/login" method="post">
        <input type="text" name="NewName">
        <input type="submit" value="Login" class="btn btn-info">
    </form>
</div>
