@{
    ViewData["Title"] = "Home Page";
}

@model List<Chef>;

<h2>Check out our roster of chefs!</h2>




<div class="container mt-4">
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th># of Dishes</th>
        </tr>

        @{
            foreach(Chef x in @Model)
            {
                <tr>
                    <td>@x.FirstName @x.LastName</td>
                    <td>@(DateTime.Today.Year - x.DoB.Year)</td>
                    <td>@(x.AllDishes.ToList().Count())</td>
                </tr>
            }
        }

    </table>
</div>