<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Ninja</title>
</head>
<body>
    
    <!-- CREATE A NEW NINJA -->
    <form action="/ninja/new_ninja" method="post">

        <p>Dojo:</p>
            <select name="dojo_id" id="dojo_id">
                {% for one_dojo in all_dojos %}
                    <option value="{{one_dojo.id}}">{{one_dojo.name}}</option>
                {% endfor %}
            </select>

        <p>First Name:</p>
            <input type='text' name='first_name'>

        <p>Last Name:</p>
            <input type='text' name='last_name'>

        <p>Age:</p>
            <input type='text' name='age'>

        <button>Create</button>
        
    </form>

    <!-- HOME PAGE REDIRECT -->
    <a href="/dojos">Home</a>

</body>
</html>